
<h1 align="center">Listing all Movies</h1>
<hr>

<% @films.each do |film| %>

<div class="row">

<div class="col-xs-8 col-xs-offset-2">

<div class="well well-lg " >

<div class="article-title">

<%= link_to film.name, film_path(film) %>

</div>

<div class="article-body">

<%= truncate(film.genere, length: 100) %>

</div>

<div class="article-body">

<%= truncate(film.langauge, length: 100) %>

</div>

<div class="article-actions">

<%= link_to "Edit this article", edit_film_path(film), class: "btn btn-xs btn-primary" %>

<%= link_to "Delete this article", film_path(film), method: :delete,

data: { confirm: "Are you sure you want to delete the article?"},

class: "btn btn-xs btn-danger" %>

</div>

</div>

</div>

</div>

<% end %>