
<h2 align="center">Title: <%= @films.name %></h2>

<div class="well col-xs-8 col-xs-offset-2">

<h4 class="center description"><strong>Description:</strong></h4>

<hr>

Genere <%= simple_format(@films.genere) %>
Langauage<%= simple_format(@films.langauge) %>
Cast<%= simple_format(@films.cast) %>
Director<%= simple_format(@films.director) %>
Release<%= simple_format(@films.release_date.to_date.to_s) %>



<div class="article-actions">

<%= link_to "Edit this Film ", edit_film_path(@films), class: "btn btn-xs btn-primary" %>

<%= link_to "Delete this Film", film_path(@films), method: :delete,

data: { confirm: "Are you sure you want to delete the Film?"},

class: "btn btn-xs btn-danger" %>

<%= link_to "View all Films", films_path, class: "btn btn-xs btn-success" %>

</div>

</div>